.header {
    position: relative;
    grid-area: h;
    background: rgb(1, 124, 1);
}
.logos {
    position: absolute;
    left: 150px;

    width: 60px;
    height: 60px;
}

.login__block {
    float: right;
}

.login__block a {
    color: white;
}
