.nav {
    display: flex;
    justify-content: space-between;

    &__item {
        color: #000;
        text-align: center;
        padding: 20px;
        &:hover {
            background-color: rgb(173, 222, 250);
        }
    }
}

.route {
    text-align: center;
    &:visited {
        color: black;
    }
}
